/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #4f76dd;
  --ifm-color-primary-dark: #4461b4;
  --ifm-color-primary-darker: #394e8d;
  --ifm-color-primary-darkest: #2e3b68;
  --ifm-color-primary-light: #758be3;
  --ifm-color-primary-lighter: #94a1e9;
  --ifm-color-primary-lightest: #b0b8ef;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #4f76dd;
  --ifm-color-primary-dark: #4461b4;
  --ifm-color-primary-darker: #394e8d;
  --ifm-color-primary-darkest: #2e3b68;
  --ifm-color-primary-light: #758be3;
  --ifm-color-primary-lighter: #94a1e9;
  --ifm-color-primary-lightest: #b0b8ef;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.sample-gif {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sample-gif-img {
  max-width: 360px;
}
